@font-face {
    font-family: "ProximaNovaBold";
    src: url("../fonts/proximanova-bold/proximanova-bold-webfont.woff") format("woff");
};

@font-face {
    font-family: "ProximaNova";
    src: url("../fonts/proximanova-regular/proximanova-regular-webfont.woff") format("woff");
};