@font-face {
  font-family: "ProximaNovaBold";
  src: url("../fonts/proximanova-bold/proximanova-bold-webfont.woff") format("woff");
}
@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/proximanova-regular/proximanova-regular-webfont.woff") format("woff");
}
::-webkit-input-placeholder {
  color: #a8adc3;
}

::-moz-placeholder {
  color: #a8adc3;
}

:-ms-input-placeholder {
  color: #a8adc3;
}

:-moz-placeholder {
  color: #a8adc3;
}

*::selection {
  color: #fff;
  background: #6775F0;
}

*::-moz-selection {
  color: #fff;
  background: #6775F0;
}

button:focus,
input:focus,
select:focus,
textarea:focus {
  outline: none !important;
}

tbody::-webkit-scrollbar {
  width: 4px;
}

tbody::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 2px solid #6775F0;
}

body {
  display: block;
  width: 100%;
  height: 100vh;
  color: #9797AF;
  font-weight: normal;
  font-family: "ProximaNova";
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden !important;
  position: relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: #15151F;
  border: 1px solid #1F1F2E;
  overflow: hidden;
}

.menubar-container {
  height: 40px;
  width: 100%;
  -webkit-app-region: drag;
}

.app-container {
  height: calc(900px - 40px);
  width: 1600px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.sidebar-container {
  height: 100%;
  width: 250px;
}

.content-container {
  height: 100%;
  width: 1350px;
}

.menubar-container {
  background: #181825;
  border-bottom: 1px solid #1F1F2E;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menubar-container .logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  width: 50%;
}
.menubar-container .logo img {
  margin-left: 20px;
  height: 14px;
  width: auto;
}
.menubar-container .logo h1 {
  margin-left: 15px;
  font-size: 14px;
  letter-spacing: 0.05rem;
  line-height: 14px;
  font-weight: bold;
  color: #b9bcc0;
}
.menubar-container .controls {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  height: 100%;
  width: 50%;
}
.menubar-container .controls div {
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-app-region: no-drag;
}
.menubar-container .controls div button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menubar-container .controls div button img {
  width: 14px;
  height: 14px;
}
.menubar-container .controls div button img:hover {
  cursor: pointer;
}
.menubar-container .controls div button img:active {
  transform: translateY(0.5px);
  filter: brightness(150%);
}
.menubar-container .controls div .minimize {
  margin-right: 15px;
}
.menubar-container .controls div .close {
  margin-right: 20px;
}

.sidebar-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background: #181825;
}
.sidebar-container .profile-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  width: 100%;
  border-bottom: 1px solid #1F1F2E;
}
.sidebar-container .profile-container h1 {
  margin: 1REM 10px;
  color: white;
  font-size: 18px;
  letter-spacing: 0.08rem;
  font-weight: bold;
}
.sidebar-container .nav-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  border-bottom: 1px solid #1F1F2E;
}
.sidebar-container .nav-container .header {
  margin: 0.5REM 0 0 0;
  width: 100%;
}
.sidebar-container .nav-container .header h4 {
  margin-left: 10px;
  width: 100%;
  font-size: 14px;
  color: #6775F0;
  letter-spacing: 0.08rem;
  font-weight: bold;
}
.sidebar-container .nav-container ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 0.5REM 0 0 0;
}
.sidebar-container .nav-container ul li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  height: 45px;
  width: 90%;
  margin: 5px 10px;
}
.sidebar-container .nav-container ul li button {
  margin-left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100%;
  width: 100%;
}
.sidebar-container .nav-container ul li button img {
  width: 25px;
  height: 25px;
}
.sidebar-container .nav-container ul li button img:hover {
  cursor: pointer;
}
.sidebar-container .nav-container ul li button h2 {
  text-align: left;
  line-height: 45px;
  width: 100%;
  margin-left: 10px;
  letter-spacing: 0.08REM;
  font-size: 12px;
  color: #9797AF;
}
.sidebar-container .nav-container ul li button h2:hover {
  cursor: pointer;
}
.sidebar-container .nav-container ul li button:hover {
  cursor: pointer;
}
.sidebar-container .nav-container ul li:hover {
  cursor: pointer;
  filter: brightness(90%);
}
.sidebar-container .nav-container ul li:active {
  transform: translateY(0.5px);
  filter: brightness(150%);
}
.sidebar-container .nav-container ul .selected {
  border-radius: 8px;
  background: #6775F0;
}
.sidebar-container .nav-container ul .selected h2 {
  color: white;
}
.sidebar-container .nav-container ul .selected img {
  filter: brightness(0) invert(1);
}
.sidebar-container .nav-container ul .selected:hover {
  cursor: pointer;
  filter: none !important;
}
.sidebar-container .nav-container ul:last-child {
  padding-bottom: 5px;
}

.dashboard-container {
  width: 100%;
  height: 100%;
}
.dashboard-container .dashboard {
  margin: 0 2REM;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.dashboard-container .dashboard .top {
  height: 280px;
  width: 100%;
  margin: 2REM 0 0 0;
}
.dashboard-container .dashboard .top .pos {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.dashboard-container .dashboard .top .pos .tag {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  background-color: #6775F0;
  height: 30px;
  border-radius: 8px;
}
.dashboard-container .dashboard .top .pos .tag h1 {
  text-align: center;
  font-size: 16px;
  line-height: 30px;
  color: white;
  font-weight: bold;
  letter-spacing: 0.1REM;
}
.dashboard-container .dashboard .top .overview {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.dashboard-container .dashboard .bot {
  height: 450px;
  width: 100%;
  margin: 0 0 2REM 0;
}
.dashboard-container .dashboard .bot .pos {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dashboard-container .dashboard .bot .pos .tag {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  background-color: #6775F0;
  height: 30px;
  border-radius: 8px;
}
.dashboard-container .dashboard .bot .pos .tag h1 {
  text-align: center;
  font-size: 16px;
  line-height: 30px;
  color: white;
  font-weight: bold;
  letter-spacing: 0.1REM;
}
.dashboard-container .dashboard .bot .order-list {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.dashboard-container .dashboard .bot .order-list table {
  margin: 2REM 0 0 0;
  height: 450px;
  width: 1200px;
  border-spacing: 0;
  border-collapse: collapse;
}
.dashboard-container .dashboard .bot .order-list table thead {
  display: block;
  width: 100%;
}
.dashboard-container .dashboard .bot .order-list table thead tr {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}
.dashboard-container .dashboard .bot .order-list table thead tr th {
  width: 240px;
  height: 40px;
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0.56px;
  color: #9797AF;
  font-weight: bold;
  text-align: center;
}
.dashboard-container .dashboard .bot .order-list table tbody {
  border: 4px solid #1F1F2E;
  border-radius: 8px;
  display: block;
  width: 1200px;
  height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}
.dashboard-container .dashboard .bot .order-list table tbody tr {
  height: 30px;
  width: 100%;
  margin: 0.5REM;
}
.dashboard-container .dashboard .bot .order-list table tbody tr td {
  width: 240px;
  height: 30px;
}
.dashboard-container .dashboard .bot .order-list table tbody tr td p {
  width: 100%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: white;
  font-size: 14px;
  line-height: 40px;
}
.dashboard-container .dashboard .bot .order-list table tbody tr td button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
.dashboard-container .dashboard .bot .order-list table tbody tr td button img {
  height: 20px;
  width: auto;
}
.dashboard-container .dashboard .bot .order-list table tbody tr td button img:hover {
  cursor: pointer;
}
.dashboard-container .dashboard .bot .order-list table tbody .even {
  background: #15151F;
}
.dashboard-container .dashboard .bot .order-list table tbody .odd {
  background: #181825;
}

/*# sourceMappingURL=theme.css.map */
